body {
	background-color: #90DE76;
}

#grid {
	margin: 20px;
	height: 640px;
	width: 640px;
	background-color: black;
}

#button {
	font-family: arial;
	height: 16px;
	width: 116px;
	background-color: orange;
	color: black;
}

.gridunit {
	height: 20px;
	width: 20px;
	float: left;
	background-color: white;
}


